<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Mastercore Integration Demo</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Mastercore Integration Demo</h1>
    <a href="/getProtocolProperties">View Mastercoin Protocol Properties</a> <br/>
    <a href="/notify/">Monitor the incoming transactions</a>
</body>
</html>