<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Property Details</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <h2><%= Property.name %> </h2>
    Category <%= Property.category %> > Sub Category <%= Property.subcategory %> <br />
    <h3>Description</h3> <%= Property.data %> <br />
    <a href="<%= Property.url %>"><%= Property.url %></a><br />
    Is Coin Divisible? <%= Property.divisible %><br />
    Issuance Address <a href="/getProtocolBalance/<%= Property.issuer %>/<%= Id %>"><%= Property.issuer %></a><br />
    Creation Transaction <a href="/getTransaction/<%= Property.creationtxid %>"><%= Property.creationtxid %></a><br />
    Total Issued Tokens <%= Property.totaltokens %><br />
    <hr />
    <a href="/getProperty/<%= parseInt(Id) -1 %>"> Previous</a> | <a href="/getProperty/<%= parseInt(Id) +1 %>">Next</a>

</body>
</html>